---
import { cn } from "../../utils"
import Highlight from "./highlight.astro"
const {Tag="",Title, class: className,href=",", target="none", Role="", startDate="", endDate=""} = Astro.props
---

<div class={cn(className,'w-full bg-white/0.5')}>
      <div class="w-full flex flex-row items-center justify-between">
      <a href={href} target={target}> <h2 class="text-2xl"> {Title}</h2> </a>
        
        {(startDate || endDate) &&(startDate ? `${startDate} - ${endDate}` : endDate)}
      </div>

    {Role ?  <h2 class="py-2 text-1xl"><Highlight>{Role}</Highlight></h2>: ''}
      
      <div class="flex flex-col gap-y-4 mt-5">
        <slot/>
      </div>
</div>

